<head>
  <style>
  .from{
    background-color: green;
    color: white;
  }
  img{
    max-height: 300px;
  }
  .funfact{
    color: red;
  }
  .excited{
    color: purple;
  }
  </style>
</head>
<body>
  <h1>Jason Gao</h1>
  <img src="/assets/me.jpg">
  <p class="from">San Diego</p>
  <p>Senior</p>
  <p class="funfact"><b>I was a really cute kid! (See picture for proof)</b></p>
  <p class="excited"><u>I'm excited to build a functional app!</u></p>


</body>